figure.snip1192 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 15px 15px;
    min-width: 280px;
    max-width: 280px;
    width: 100%;
    color: #333;
    text-align: left;
    /* box-shadow: none !important; */
    /* border:1px solid green; */
    background: #4045db;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    height: 260px;
    transition: all .3s;
    
  }
  figure.snip1192:hover{
    transform: scale(0.99);
  }

  figure.snip1192 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: inherit;
  }
  figure.snip1192 img {
    max-width: 100%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 1;
    position: relative;
    object-fit: cover;
  }
  figure.snip1192 blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fff;
    padding: 30px 30px 55px 50px;
    font-size: 0.7em;
    font-weight: 500;
    margin: 0 0 -40px;
    line-height: 1.6em;
    border-radius: inherit;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color:#696a6c;
    /* font-size: 12px; */

  }
  figure.snip1192 blockquote:before,
  figure.snip1192 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 15px;
    opacity: 0.2;
    font-style: normal;
  }
  figure.snip1192 blockquote:before {
    top: 35px;
    left: 20px;
  }
  figure.snip1192 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 35px;
  }
  figure.snip1192 .author {
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    color: #f6f7f9;
  }
  figure.snip1192 .author h5 {
    opacity: 1;
    margin: 0;
    font-weight: 600;
    padding-bottom:20px;
  }
  figure.snip1192 .author h5 span {
    font-weight: 400;
    text-transform: none;
    display: block;
  }
  /* Demo purposes only */
