@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
  /* border: 1px solid green; */
}

.new{
  /* color: rgb(87, 87, 87); */
    border: none;
    background-color: transparent;
}

.newone{
    border: none;
    border: 1px solid #ccc;
    padding: 12px 6px;
    outline: none;
    border-radius: 5px;
}


  
.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #4245a8;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    background:#fff;
    color:#A8A8A8;
    opacity: 40%;
  }



  .file-input__label_svg {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    background:#fff;
    color:#A8A8A8;
    opacity: 10%;
  }

    .file-input__label svg {
    height: 16px;
  }